@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Qwitcher+Grypen:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

<<<<<<< Updated upstream
=======

:root{
    --tom0:#94BDF2;
    --tom1:#5C9DF2;
    --tom2:#0D65D9;

    --fonte-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte-destaque: "worksans", serif;
}

>>>>>>> Stashed changes
body{
    background-image: linear-gradient(to bottom, var(--tom2), var(--tom1), var(--tom0));
    background-attachment: fixed;
}

header{
    text-align: center;
    margin-bottom: 40px;
    padding-top: 20px;
}

header > h1{
    font: var(--fonte-destaque);
    font-size: 3em;
    font-weight: bold;

}
header > p{
    font: var(--fonte-padrao);
    text-align: center;
    font-size: 1.2em
}
main{
    width: 650px;
    background-color: rgba(255, 255, 255, 0.829);
    padding: 20px;
    margin: auto;
    border-radius: 10px;
<<<<<<< Updated upstream
    box-shadow: 5px 5px 15px rgba(1, 30, 30, 0.239);
=======
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: 0px 0px 10px black;
}
main > h1{
    text-align: center;
    font-family: var(--fonte-destaque);
}
main > p{
    font-family: var(--fonte-padrao);
    text-align: justify;
    padding-left: 10;
    padding-right: 10px;

>>>>>>> Stashed changes
}

a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: #0D65D9;
}
a:hover{
    text-decoration: underline;
}

div{
    text-align: center;
}

ul{
    list-style-type: square;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
